
@font-face {
    font-family: "Papyrus";
    src: url(../fonts/papyrus.ttf);
}
@font-face {
    font-family: "Vineritic";
    src: url(../fonts/vineritc.ttf);
}

body{
    font-family: Georgia;
}

.TituloDePagina{
    font-family: "Papyrus";
    font-style: oblique;
    font-size: larger;
}

.TituloDeArticulo{
    font-family: "Papyrus";
}

.logo{
    font-family: "Papyrus";
}
